---
import { CardEditorialNews } from "@components/molecules/CardEditorialNews";
import { CardInlineMini } from "@components/molecules/CardInlineMini";
import { Carousel, CarouselItem } from "@components/molecules/Carousel";
import { SectionContainer } from "@components/organisms/SectionContainer";
import { getSectionBgClass } from "@utils/background";
import type { ListCollectionProps } from "./types";

type Props = ListCollectionProps;

const {
  title,
  items,
  paragraph,
  background = "lighter",
  showInline = false,
} = Astro.props;

const textColorClass =
  background === "primary" || background === "dark" ? "text-white" : "";
---

<SectionContainer className={getSectionBgClass(background)}>
  <div class="row justify-content-between align-items-top">
    <div class="col-lg-8 col-12 pb-lg-5">
      <h2 class=`${textColorClass}`>
        {title}
      </h2>
      {paragraph && <p class={`${textColorClass}`}>{paragraph}</p>}
    </div>

    <div class=` ${!showInline ? 'd-none d-lg-block' : ''}`>
      <ul class="it-card-list row">
        {
          items.map((item) => {
            return showInline ? (
              <li class="col-12 col-lg-6 mb-3">
                <CardInlineMini {...item} />
              </li>
            ) : (
              <li class="col-12 col-lg-4 mb-3">
                <CardEditorialNews {...item} />
              </li>
            );
          })
        }
      </ul>
    </div>

    {
      !showInline && (
        <Carousel>
          {items.map((item) => (
            <CarouselItem>
              <CardEditorialNews {...item} />
            </CarouselItem>
          ))}
        </Carousel>
      )
    }
  </div>
</SectionContainer>
