---
import { SplitContent } from "@components/layout/SplitContent";
import { TabContent, Tabs } from "@components/molecules/Tabs";
import type { CardEditorialInlineMiniProps } from "@components/react/CardEditorialInlineMini/CardEditorialInlineMini";
import type { CardEditorialNewsProps } from "@components/react/CardEditorialNews";
import { PaginatedCollection } from "@components/react/PaginatedCollection/PaginatedCollection";
import type { ResourceProps } from "@components/react/Resource";
import {
  getNews,
  getResources,
  getStories,
  getWebinars,
} from "@lib/dataFetcher";
import { isDraftModeEnabled } from "@lib/draftMode";
import {
  mapNewsToCardEditorialNewsProps,
  mapResourceToResourceProps,
  mapStoryToCardEditorialInlineMiniProps,
  mapWebinarToCardEditorialNewsProps,
} from "@utils/mappers";
import type { ElementType, UpdateTabSectionProps } from "./types";

type Props = UpdateTabSectionProps;

const { id, tabs = [] } = Astro.props;
const { lang } = Astro.locals;

const tabsItems = tabs.map((tab, index) => ({
  id: `tab-${id}-${index}`,
  label: tab.title,
  active: index === 0,
}));

const isPreview = isDraftModeEnabled(Astro.cookies);

const news = await getNews(isPreview);
const stories = await getStories(isPreview);
const webinars = await getWebinars(isPreview);
const resources = await getResources(isPreview);

function isValidTabType(val: string): val is ElementType {
  return (
    val === "news_item" ||
    val === "story_item" ||
    val === "webinar_item" ||
    val === "resource"
  );
}

const collectionMap: Record<
  ElementType,
  (ResourceProps | CardEditorialNewsProps | CardEditorialInlineMiniProps)[]
> = {
  news_item: news.map((n) => mapNewsToCardEditorialNewsProps(n.data, lang)),
  story_item: stories.map((s) =>
    mapStoryToCardEditorialInlineMiniProps(s.data, lang),
  ),
  webinar_item: webinars.map((w) =>
    mapWebinarToCardEditorialNewsProps(w.data, lang),
  ),
  resource: resources.map((r) => mapResourceToResourceProps(r.data, lang)),
};

function getCollectionItems(type: string) {
  return collectionMap[type as ElementType] || [];
}
---

<SplitContent leftColumns={5} alignItems="top">
  <div class="row">
    <Tabs id={id} items={tabsItems}>
      {
        tabs.map((tab, index) => {
          const tabType = tab.newsPageTabType;
          if (!isValidTabType(tabType)) return null;

          const items = getCollectionItems(tabType);

          return (
            <TabContent tab={tabsItems[index]}>
              <PaginatedCollection
                client:load
                {...tab}
                items={items as any}
                newsPageTabType={tabType}
                lang={lang}
              />
            </TabContent>
          );
        })
      }
    </Tabs>
  </div>
</SplitContent>
