---
import { Chart } from "@components/charts/Chart";
import Loader from "@components/Loader.astro";
import type { PanelProps } from "./types";
import { Link } from "@components/atoms/Link";

type Props = PanelProps;

const { title, paragraph, chart, externalLink } = Astro.props;
---

<div class="row align-items-top justify-content-between mb-5">
  <div class="col-12">
    <h3 class="mb-3">
      {title}
    </h3>
    <p class="mb-4">{paragraph}</p>
    {
      chart && (
        <Chart client:only="react" data={chart}>
          <div slot="fallback">
            <Loader />
          </div>
        </Chart>
      )
    }
    {
      externalLink && (
        <Link
          label={externalLink.label}
          titleIcon={externalLink.titleIcon}
          icon={externalLink.icon}
          linkTo={externalLink.linkTo}
          openInNewTab={true}
        />
      )
    }
  </div>
</div>
