---
import { ActionCard } from "@components/molecules/ActionCard";
import { SectionContainer } from "@components/organisms/SectionContainer";
import type { ActionCardFragmentType } from "@graphql/sectionFragments";
import { createDownloadUrl } from "@utils/createDownloadUrl";
import { formatAssetInfo } from "@utils/formatAssetInfo";

type Props = {
  block: ActionCardFragmentType;
};

const { block } = Astro.props;

const downloadUrl = createDownloadUrl(block.cta.doc);

const cta = {
  label: `${block.cta.label} ${formatAssetInfo(block.cta.doc.size, block.cta.doc.format)}`,
  url: downloadUrl,
};
---

<SectionContainer className="lightgrey-bg-a3">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <ActionCard
        title={block.title}
        paragraph={block.paragraph}
        category={block.category || undefined}
        cta={cta}
        labelButtonMore={block.readMoreLabel}
        labelButtonLess={block.readLessLabel}
      />
    </div>
  </div>
</SectionContainer>
