---
import Loader from "@components/Loader.astro";
import { SectionContainer } from "@components/organisms/SectionContainer";
import { FullTextSearch } from "@components/react/SearchBar";
import type { SearchBarFragmentType } from "@graphql/fragment/search";
import { getGlobalSettings } from "@lib/dataFetcher";

type Props = {
  block: SearchBarFragmentType;
};

const { block } = Astro.props;
const { lang } = Astro.locals;

const globalSetting = await getGlobalSettings(lang);
---

<SectionContainer className="search-main it-section-bg-light">
  <div class="row">
    <div class="col-12 g-0">
      <div
        class="search-main-content"
        role="search"
        aria-labelledby="searchHomeTitle"
      >
        <h2 id="searchHomeTitle" class="mb-5">{block.title}</h2>

        <FullTextSearch
          client:only="react"
          locale={lang}
          labelButton={block.labelButton}
          inputPlaceholder={block.inputPlaceholder}
          labelForAllResult={block.labelForAllResult}
          labelForNoResult={block.labelForNoResult}
          ariaLabelDownloadLink={globalSetting?.ariaLabelDownloadLink || ""}
          ariaLabelExternalLink={globalSetting?.ariaLabelExternalLink || ""}
          ariaLabelInternalLink={globalSetting?.ariaLabelInternalLink || ""}
        >
          <div slot="fallback">
            <Loader />
          </div>
        </FullTextSearch>
      </div>
    </div>
  </div>
</SectionContainer>
