---
import Loader from "@components/Loader.astro";
import { SectionContainer } from "@components/organisms/SectionContainer";
import { FullTextSearch } from "@components/react/SearchBar";
import type { SearchBarFragmentType } from "@graphql/fragment/search";
import { getI18n } from "@i18n/microcopy";

type Props = {
  block: SearchBarFragmentType;
};

const { block } = Astro.props;
const { lang } = Astro.locals;

const t = getI18n(lang);
---

<SectionContainer className="search-main it-section-bg-light">
  <div class="row">
    <div class="col-12 g-0">
      <div
        class="search-main-content"
        role="search"
        aria-labelledby="searchHomeTitle"
      >
        <h2 id="searchHomeTitle" class="mb-5">{block.title}</h2>

        <FullTextSearch
          client:visible
          locale={lang}
          labelButton={block.labelButton}
          inputPlaceholder={block.inputPlaceholder}
          labelForAllResult={block.labelForAllResult}
          labelForNoResult={block.labelForNoResult}
          ariaLabelDownloadLink={t["link.download"]}
          ariaLabelExternalLink={t["link.external"]}
          ariaLabelInternalLink={t["link.internal"]}
        >
          <div slot="fallback">
            <Loader />
          </div>
        </FullTextSearch>
      </div>
    </div>
  </div>
</SectionContainer>
