---
import { ButtonLink } from "@components/atoms/Button";
import { Image } from "@components/atoms/Image";
import type { HeroProps } from "./types";
type Props = HeroProps;

const {
  title,
  paragraph,
  image,
  showBreadcrumb,
  bgClass,
  labelButton,
  linkTo,
  variantButton,
  openInNewTab = false,
} = Astro.props;
---

<style>
  @import "./style.scss";
</style>
<section
  class=`it-hero-wrapper it-hero-wrapper-full-height-image xsmall-size ${bgClass}`
>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="it-hero-text-wrapper px-0">
          {showBreadcrumb && <slot name="breadcrumb" />}
          <h1>{title}</h1>
          {paragraph && <p class="font-sans-serif">{paragraph}</p>}
          {
            labelButton && linkTo && (
              <div class="it-btn-container">
                <ButtonLink
                  size="small"
                  label={labelButton}
                  variant={variantButton}
                  linkTo={linkTo}
                  openInNewTab={openInNewTab}
                />
              </div>
            )
          }
        </div>
      </div>
    </div>
  </div>
  {
    image && (
      <div class="img-responsive-wrapper">
        <div class="img-responsive">
          <div class="img-wrapper">
            <Image {...image} loading="eager" />
          </div>
        </div>
      </div>
    )
  }
</section>
