---
import { ButtonLink } from "@components/atoms/Button";
import { Image } from "@components/atoms/Image";
import type { HeroProps } from "./types";

type Props = HeroProps;

const {
  title,
  paragraph,
  image,
  imageMobile,
  showBreadcrumb = false,
  variant = "default",
  bgClass,
  labelButton,
  linkTo,
  variantButton,
  openInNewTab = false,
} = Astro.props;
const sizeClass = variant === "small" ? "small-size" : "default-size";
---

<style>
  @import "./style.scss";
</style>

<section class={`it-hero-wrapper ${sizeClass} ${bgClass}`}>
  {
    image && (
      <div
        class={`img-responsive-wrapper ${imageMobile ? "d-none d-lg-block" : ""}`}
      >
        <div class="img-responsive">
          <div class="img-wrapper">
            <Image {...image} loading="eager" />
          </div>
        </div>
      </div>
    )
  }
  {
    imageMobile && (
      <div class="img-responsive-wrapper d-block d-lg-none">
        <div class="img-responsive">
          <div class="img-wrapper">
            <Image {...imageMobile} loading="eager" />
          </div>
        </div>
      </div>
    )
  }

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper px-0">
          {showBreadcrumb && <slot name="breadcrumb" />}
          <h1>{title}</h1>
          {paragraph && <p class="font-sans-serif">{paragraph}</p>}
          {
            labelButton && linkTo && (
              <div class="it-btn-container">
                <ButtonLink
                  size="small"
                  label={labelButton}
                  variant={variantButton}
                  linkTo={linkTo}
                  openInNewTab={openInNewTab}
                />
              </div>
            )
          }
        </div>
      </div>
    </div>
  </div>
</section>
