---
import { Chip } from "@components/atoms/Chip";
import { DateTime } from "@components/atoms/DateTime";
import { Image } from "@components/atoms/Image";
import type { ImageProps } from "@components/atoms/Image/types";

export type CardEditorialInlineMiniProps = {
  title: string;
  description?: string;
  image: ImageProps;
  linkTo: string;
  category?: string;
  dateTime?: string;
};

type Props = CardEditorialInlineMiniProps;

const { title, description, image, linkTo, category, dateTime } = Astro.props;

const shouldShowFooter = category || dateTime;
---

<article
  class="it-card it-card-inline it-card-inline-mini it-card-image rounded shadow-sm border"
>
  <div class="it-card-inline-content">
    <h3 class="it-card-title h4">
      <a href={linkTo}>{title}</a>
    </h3>
    {
      description && (
        <div class="it-card-body">
          <p class="it-card-text">{description}</p>
        </div>
      )
    }
    {
      shouldShowFooter && (
        <footer class="it-card-related it-card-footer">
          {category && (
            <div class="it-card-taxonomy">
              <Chip label={category} visuallyHidden="" disabled />
            </div>
          )}
          {dateTime && <DateTime className="it-card-date" value={dateTime} />}
        </footer>
      )
    }
  </div>
  <div class="it-card-image-wrapper">
    <div class="ratio ratio-1x1">
      <figure class="figure img-full">
        <Image {...image} />
      </figure>
    </div>
  </div>
</article>
