---
import { Image } from "@components/atoms/Image";
import { getI18n } from "@i18n/microcopy";
import type { FooterLogoProps } from "./types";

type Props = FooterLogoProps;

const { logo, linkTo } = Astro.props;
const { lang } = Astro.locals;
const t = getI18n(lang);

const targetWidth = 275;
const aspect = logo.width && logo.height ? logo.height / logo.width : 1;
const targetHeight = Math.round(targetWidth * aspect);
---

<a
  href={linkTo}
  target="_blank"
  rel="noreferrer"
  class="d-block h6 fw-semibold text-decoration-none d-flex align-items-center"
>
  <Image
    url={logo.url}
    width={targetWidth}
    height={targetHeight}
    alt={`${logo.alt} - ${t["link.external"]}`}
    loading="lazy"
  />
</a>
