---
import { ChipLink } from "@components/atoms/Chip";

import { SubscribeMailingList } from "@components/react/SubscribeMailingList";
import { getI18n } from "@i18n/microcopy";
import FooterLink from "./FooterLink.astro";
import FooterLinkSupportingBrand from "./FooterLinkSupportingBrand.astro";
import type { FooterMainProps } from "./types";

type Props = FooterMainProps;
const { topics, utilities, mailingListForm } = Astro.props;
const lang = Astro.locals.lang || "it";
const t = getI18n(lang);
---

<div class="it-footer-main" id="footer">
  <div class="container">
    <section class="px-0">
      <div class="row">
        <div class="col-12 py-4">
          <p class="h4 pb-4">{topics.title}</p>
          <ul
            class="it-footer-small-prints-list list-inline mb-0 d-flex flex-wrap flex-md-row"
          >
            {
              topics.items.map((topic) => (
                <li class="list-inline-item">
                  <ChipLink
                    {...topic}
                    variant="outline-white"
                    size="large"
                    visuallyHidden={t["link.internal"]}
                  />
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </section>
    <section class="py-4 border-white border-top px-0">
      <div class="row">
        {
          utilities.map((utility) => (
            <div class="col-12 ">
              <p class="h4 pb-4">{utility.title}</p>
              <ul class="list-inline mb-0 d-flex flex-column flex-md-row">
                {utility.socialItems.map((item) => (
                  <li class="list-inline-item me-4 mb-2">
                    <FooterLinkSupportingBrand {...item} />
                  </li>
                ))}
                <li
                  class="d-none d-lg-block border-end border-white ms-2 me-4"
                  style={{ height: "24px", alignSelf: "center" }}
                />
                <li
                  class="d-lg-none d-block border-bottom border-white mx-2 my-3 my-lg-0"
                  style={{ width: "100%", alignSelf: "center" }}
                />
                {utility.linkItems.map((item) => (
                  <li class="list-inline-item me-4 mb-2">
                    <FooterLink variant="dark" {...item} />
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </section>
    {
      mailingListForm && (
        <section class="py-4 border-white border-top px-0">
          <div class="row">
            <div class="col-12 col-lg-6 ">
              <div class="pb-4 d-flex align-items-center justify-content-between">
                <p class="h4">{mailingListForm.title}</p>
                <a
                  class="text-white mb-2"
                  target="_blank"
                  rel="noreferrer"
                  href={mailingListForm.privacyPolicy.linkTo}
                >
                  {mailingListForm.privacyPolicy.label}
                </a>
              </div>
              <span class="bg-dark">
                <SubscribeMailingList
                  client:visible
                  lang={lang}
                  idForm="idNewsletterForm"
                />
              </span>
            </div>
          </div>
        </section>
      )
    }
  </div>
</div>
