---
import { ButtonLink } from "@components/atoms/Button";
import { Image } from "@components/atoms/Image";
import type {
  SupportCTASectionBackgroundProps,
  SupportCTASectionProps,
} from "./types";

type Props = SupportCTASectionProps;

const {
  title,
  paragraph,
  labelButton,
  linkTo,
  image,
  background = "lighter",
  size = "default",
  openInNewTab = false,
} = Astro.props;

const backgroundColor: Record<SupportCTASectionBackgroundProps, string> = {
  default: "it-section-bg-default",
  lighter: "it-section-bg-light",
};

const backgroundColorClass = backgroundColor[background];
---

<section
  class={`${backgroundColorClass} ${size === "small" ? "rounded-2" : ""}`}
>
  <div class={`container py-5  ${size === "small" ? "px-5" : ""}`}>
    <div class={`row align-items-center justify-content-between `}>
      <div class="col-lg-6 col-12">
        <div class=`text-container mb-4 mb-lg-0`>
          <h3 class="mb-3">
            {title}
          </h3>
          <div class="mb-4" set:html={paragraph} />
          {
            labelButton && linkTo && (
              <div class="mt-5">
                <ButtonLink
                  size="small"
                  label={labelButton}
                  linkTo={linkTo}
                  openInNewTab={openInNewTab}
                />
              </div>
            )
          }
        </div>
      </div>
      <div
        class={`${size === "small" ? "d-none d-lg-block" : ""} col-lg-5  col-12`}
      >
        <div class="img-container">
          <div
            class={`ratio ${size === "small" ? "ratio-1x1 " : "ratio-16x9"}`}
          >
            <Image {...image} />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
