---
import { Chip } from "@components/atoms/Chip";
import type { TopicsProps } from "./types";

type Props = TopicsProps;
const {
  title,
  topics,
  variant = "row",
  variantChip = "primary",
  sizeChip = "large",
  disabled = true,
} = Astro.props;
---

<div
  class=`it-list-wrapper d-flex ${variant === "column" ? "flex-column" : "align-items-center "} `
>
  {
    title && (
      <span
        class={`text-uppercase text-dark fw-semibold mt-1 me-3 ${variant === "column" ? "fs-6" : ""}`}
      >
        {title}
      </span>
    )
  }
  <ul class="it-list d-flex mb-0 flex-wrap" aria-label="Argomenti correlati:">
    {
      topics.map((topic) => (
        <li class="list-item border-bottom-0 me-3 mt-1">
          <Chip
            visuallyHidden=""
            disabled={disabled}
            label={topic}
            size={sizeChip}
            variant={variantChip}
          />
        </li>
      ))
    }
  </ul>
</div>
