---
import type {
  GenericListItemProps,
  GenericListVariantProps,
  GenericListSizeProps,
} from "./types";

type Props = GenericListItemProps & {
  size?: GenericListSizeProps;
  variant?: GenericListVariantProps;
  bordered?: boolean;
};
const {
  text,
  subtext,
  avatar,
  iconRight,
  icon,
  size = "default",
  linkTo,
  variant = "light",
  bordered = false,
} = Astro.props;
const textClassName = size === "small" ? "fs-6" : size === "bold" ? "text" : "";

const colorClassName = variant === "dark" ? "text-white text-underline" : "";
const iconClassName = variant === "dark" ? "icon-white" : "";
const RightZoneTag = linkTo ? "a" : "div";
---

<li>
  <div class={`list-item ${!bordered ? "border-0" : ""}`}>
    {
      avatar && (
        <div class="avatar size-lg">
          <img src={avatar} alt={text} />
        </div>
      )
    }

    {
      !avatar && icon && (
        <div class="it-rounded-icon">
          <svg class={`icon ${iconClassName}`}>
            <use href={`/bsi-svg/sprites.svg#${icon}`} />
          </svg>
        </div>
      )
    }

    <RightZoneTag href={linkTo} class={`it-right-zone ${colorClassName}`}>
      {
        subtext ? (
          <div>
            <h4 class="text m-0">{text}</h4>
            <p class="small m-0">{subtext}</p>
          </div>
        ) : (
          <div class={`${textClassName} m-0 col-10`}>{text}</div>
        )
      }
      {
        iconRight && (
          <svg class={`icon  ${iconClassName}`}>
            <use href={`/bsi-svg/sprites.svg#${iconRight}`} />
          </svg>
        )
      }
    </RightZoneTag>
  </div>
</li>
