---
import ButtonBase from "./ButtonBase.astro";
import { getButtonClasses } from "./helper";
import type { ButtonProps } from "./types";

type Props = ButtonProps;
const { label, id, icon, variant = "light", size = "large" } = Astro.props;

const { className, colorIcon } = getButtonClasses(variant, size, !!icon);
---

<button type="button" class={className} id={id}>
  <ButtonBase label={label} icon={icon} colorIcon={colorIcon} />
</button>
