---
import { Accordion } from "@components/molecules/Accordion";
import { ActionCard } from "@components/molecules/ActionCard";
import { Breadcrumb } from "@components/molecules/Breadcrumb";
import { Callout } from "@components/molecules/Callout";
import { CardEditorialNews } from "@components/molecules/CardEditorialNews";
import { CardEditorialStory } from "@components/molecules/CardEditorialStory";
import { CardEditorialWithIcon } from "@components/molecules/CardEditorialWithIcon";
import { CardInfo } from "@components/molecules/CardInfo";
import { CardPresentationBanner } from "@components/molecules/CardPresentationBanner";
import { CardService } from "@components/molecules/CardService";
import { DataContainer } from "@components/molecules/DataContainer";
import { GenericList } from "@components/molecules/GenericList";
import { OrderedList } from "@components/molecules/OrderedList";
import { QuickLinkCard } from "@components/molecules/QuickLinkCard";
import { StatisticsBox } from "@components/molecules/StatisticsBox";
import { Tabs } from "@components/molecules/Tabs";
import { TextContainer } from "@components/molecules/TextContainer";
import { Topics } from "@components/molecules/Topics";
import { UseCaseCard } from "@components/molecules/UseCaseCard";
import {
  accordionItems,
  breadcrumbItems,
  genericListItems,
  image,
  listItems,
  listItemsDefault,
  tabsItems,
  topicItems,
} from "@utils/mock";
---

<h2 class="mb-4">Molecules</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Action Card</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="p-0">
        <div class="row">
          <div class="col-8 mb-3">
            <ActionCard
              title="Sintesi Webinar"
              paragraph={`<p>In apertura, i relatori hanno delineato il contesto di riferimento: oltre il 70% delle amministrazioni ha già avviato il percorso di migrazione, ma la sfida principale resta la capacità di coordinare i diversi livelli organizzativi, assicurando coerenza con la Strategia Cloud Italia e con le normative ACN. È stato ricordato come la governance non si esaurisca nella fase tecnica di migrazione, ma rappresenti un processo continuo di gestione, monitoraggio e miglioramento dei servizi nel tempo.Nel corso del webinar “Governance del Cloud nella Pubblica Amministrazione”, esperti di AgID e dell’Agenzia per la Cybersicurezza Nazionale hanno illustrato come costruire un modello di governance efficace e sostenibile per la gestione dei servizi cloud pubblici.
In apertura, i relatori hanno delineato il contesto di riferimento: oltre il 70% delle amministrazioni ha già avviato il percorso di migrazione, ma la sfida principale resta la capacità di coordinare i diversi livelli organizzativi, assicurando coerenza con la Strategia Cloud Italia e con le normative ACN. È stato ricordato come la governance non si esaurisca nella fase tecnica di migrazione, ma rappresenti un processo continuo di gestione, monitoraggio e miglioramento dei servizi nel tempo.</p>`}
              cta={{
                label: "Scarica la sintesi",
                url: "#",
              }}
              category="Generato da IA"
              labelButtonMore="Leggi di più"
              labelButtonLess="Leggi di meno"
            />
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Accordion</th>
      <th>Header filled</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="p-3"> Deafult </td>
      <td class="p-3">
        <Accordion id="accordion" items={accordionItems} />
      </td>
    </tr>
    <tr>
      <td class="p-3"> Background active </td>
      <td class="p-3">
        <Accordion
          id="accordion"
          items={accordionItems}
          variant="background-active"
        />
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Breadcrumb</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="p-3"> Primary background </td>
      <td class="bg-primary p-3">
        <Breadcrumb items={breadcrumbItems} variant="dark" />
      </td>
    </tr>
    <tr>
      <td class="p-3"> Light background </td>
      <td class="p-3">
        <Breadcrumb items={breadcrumbItems} />
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Callout</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="p-3"> Light background </td>
      <td class="p-3">
        <Callout
          visuallyHidden="Informazione importante"
          title="Note a riguardo"
          paragraph="Quisque ex eros, pellentesque vitae enim sed, pharetra tempus dolor. Donec eu nibh ac lacus luctus pellentesque. Duis interdum scelerisque magna nec malesuada."
        />
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Card Editorial News</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Standard</td>
      <td class="bg-primary p-3">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6 mb-3 mb-md-4">
            <CardEditorialNews
              linkTo="#"
              title="Titolo contenuto editoriale"
              description="Testo breve che riassume il contenuto della pagina di destinazione in massimo tre o quattro righe, senza troncamento."
              category="Articolo"
              image={image}
              dateTime="2022-04-05"
              action="innovazione.gov.it"
            />
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Without footer</td>
      <td class="bg-primary p-3">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6 mb-3 mb-md-4">
            <CardEditorialNews
              linkTo="#"
              title="Titolo contenuto editoriale"
              description="Testo breve che riassume il contenuto della pagina di destinazione in massimo tre o quattro righe, senza troncamento."
              image={image}
            />
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>With Icon</td>
      <td class="bg-primary p-3">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6 mb-3 mb-md-4">
            <CardEditorialWithIcon
              title="Titolo contenuto editoriale"
              description="Testo breve che riassume il contenuto della pagina di destinazione in massimo tre o quattro righe, senza troncamento."
              icon="1"
            />
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Inline Mini</td>
      <td class="bg-primary p-3">
        <div class="row">
          <div class="col-12 mb-3 mb-md-4">
            <CardEditorialStory
              linkTo="#"
              image={image}
              title="Titolo contenuto editoriale"
              category="Articolo"
              dateTime="2022-04-05"
            />
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Card info and service</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Standard</td>
      <td class="p-3">
        <div class="row">
          <div class="col-12 mb-3 mb-md-4">
            <CardInfo
              title="PA digitale 2026"
              description="Accedi all’area riservata per iniziare la classificazione."
            />
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Standard with link ref</td>
      <td class="p-3">
        <div class="row">
          <div class="col-12 mb-3 mb-md-4">
            <CardService
              title="PA digitale 2026"
              linkTo="#"
              description="Accedi all’area riservata per iniziare la classificazione."
            />
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Card Presentation Banner</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Standard</td>
      <td class="p-3">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6 mb-3 mb-md-4">
            <CardPresentationBanner
              linkTo="#"
              title="Titolo contenuto editoriale"
              description="Testo breve che riassume il contenuto della pagina di destinazione in massimo tre o quattro righe, senza troncamento."
              icon="https://placehold.co/20x20.png?text=20x20"
            />
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Data container</th>
      <th>Standard</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="p-3">Standard</td>
      <td class="p-3"
        ><DataContainer
          title="Numero di PA che hanno migrato al Cloud "
          info="70.000 +"
          contentIcon="https://placehold.co/20x20.png?text=20x20"
        /></td
      >
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Generic list</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="p-3">Default</td>
      <td class="p-3">
        <GenericList
          label="Relatori"
          size="default"
          items={[
            {
              text: "Mario Rossi",
              avatar: "https://randomuser.me/api/portraits/men/41.jpg",
            },
            {
              text: "Mario Rossi",
              avatar: "https://randomuser.me/api/portraits/men/41.jpg",
            },
            {
              text: "Mario Rossi",
              avatar: "https://randomuser.me/api/portraits/men/41.jpg",
            },
          ]}
        />
      </td>
    </tr>
    <tr>
      <td class="p-3">Bold</td>
      <td class="p-3">
        <GenericList
          label="Risultati raggiunti"
          size="bold"
          items={[
            {
              text: "Consolidamento di 200+ applicativi su infrastruttura cloud qualificata",
              icon: "it-folder",
            },
            {
              text: "Consolidamento di 200+ applicativi su infrastruttura cloud qualificata",
              icon: "it-folder",
            },
          ]}
        />
      </td>
    </tr>
    <tr>
      <td class="p-3">Small</td>
      <td class="p-3">
        <GenericList label="Link utili" size="small" items={genericListItems} />
      </td>
    </tr>
    <tr>
      <td class="p-3">Rich</td>
      <td class="p-3">
        <GenericList
          size="default"
          bordered={true}
          items={[
            {
              text: "Modello di governance del Cloud Italia",
              subtext:
                "Struttura, attori coinvolti e strumenti di coordinamento tra PA e fornitori.",
            },
            {
              text: "Modello di governance del Cloud Italia",
              subtext:
                "Struttura, attori coinvolti e strumenti di coordinamento tra PA e fornitori.",
            },
            {
              text: "Modello di governance del Cloud Italia",
              subtext:
                "Struttura, attori coinvolti e strumenti di coordinamento tra PA e fornitori.",
            },
          ]}
        />
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>List Item</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="p-3">Small</td>
      <td class="p-3">
        <OrderedList items={listItems} variant="small" />
      </td>
    </tr>
    <tr>
      <td class="p-3">Default</td>
      <td class="p-3">
        <OrderedList items={listItemsDefault} />
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Quick link card</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="p-3"> Light background </td>
      <td class="p-3">
        <QuickLinkCard
          title="Titolo sezione link rapidi"
          links={genericListItems}
          background="primary"
        />
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Statistics box</th>
      <th>Standard</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="p-3">Light background</td>
      <td class="p-3">
        <div class="col-12 col-md-4 col-lg-4 mb-3 mb-md-4">
          <StatisticsBox
            title="PA e enti pubblici che hanno già avviato la migrazione al cloud"
            description="70.000 +"
          />
        </div>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Tabs</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="p-3">Light background</td>
      <td class="p-3"><Tabs id="exampleTabs" items={tabsItems} /> </td>
    </tr>
    <tr>
      <td class="p-3">Primary background</td>
      <td class="p-3"
        ><Tabs id="exampleTabs" background="primary" items={tabsItems} />
      </td>
    </tr>
    <tr>
      <td class="p-3">Dark background</td>
      <td class="p-3"
        ><Tabs id="exampleTabs" background="dark" items={tabsItems} />
      </td>
    </tr>
    <tr>
      <td class="p-3">Primary light background</td>
      <td class="p-3"
        ><Tabs id="exampleTabs" background="primary-light" items={tabsItems} />
      </td>
    </tr>
    <tr>
      <td class="p-3">Lighter background</td>
      <td class="p-3"
        ><Tabs id="exampleTabs" background="lighter" items={tabsItems} />
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Topics</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="p-3">Row</td>
      <td class="p-3"
        ><Topics title="Argomenti correlati" topics={topicItems} />
      </td>
    </tr>
    <tr>
      <td class="p-3">Column</td>
      <td class="p-3"
        ><Topics
          title="Argomenti correlati"
          topics={topicItems}
          variant="column"
        />
      </td>
    </tr>
    <tr>
      <td class="p-3">Column</td>
      <td class="p-3"
        ><Topics
          title="Argomenti correlati"
          disabled={false}
          topics={topicItems}
          variant="column"
        />
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Text container</th>
      <th>Standard</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="p-3">Light background</td>
      <td class="p-3"
        ><TextContainer
          title="Titolo della sezione"
          paragraph="Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Dictum sit amet justo donec enim diam vulputate ut. Eu nisl nunc mi ipsum faucibus."
          labelButton="Azione primaria"
        /></td
      >
    </tr>
    <tr>
      <td class="p-3">Dark background</td>
      <td class="bg-dark p-3"
        ><TextContainer
          title="Titolo della sezione"
          paragraph="Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Dictum sit amet justo donec enim diam vulputate ut. Eu nisl nunc mi ipsum faucibus."
          labelButton="Azione primaria"
          variant="dark"
        /></td
      >
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Use Case Card</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="p-3">Default</td>
      <td class="p-3">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6 mb-3 mb-md-4">
            <UseCaseCard
              title="Titolo use Case"
              image={image}
              paragraph="Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Dictum sit amet justo donec enim diam vulputate ut. Eu nisl nunc mi ipsum faucibus."
              linkTo="#"
            />
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="p-3">Big</td>
      <td class="p-3">
        <div class="row">
          <div class="col-12 mb-3">
            <UseCaseCard
              title="Titolo use Case"
              image={image}
              paragraph="Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Dictum sit amet justo donec enim diam vulputate ut. Eu nisl nunc mi ipsum faucibus."
              linkTo="#"
              listTopics={{
                title: "Argomenti correlati",
                topics: topicItems,
              }}
              description="Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Dictum sit amet justo donec enim diam vulputate ut. Eu nisl nunc mi ipsum faucibus."
              descriptionTitle="Argomenti trattati"
              variant="big"
            />
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
