---
import { DateTime } from "@components/atoms/DateTime";
import { Image } from "@components/atoms/Image";
import type { CardEditorialNewsProps } from "./types";

type Props = CardEditorialNewsProps;

const {
  title,
  description,
  image,
  linkTo,
  category,
  dateTime,
  action,
  fullHeight = true,
  ariaLabelCardCategory = "",
  ariaLabelCardAction = "",
} = Astro.props;

const shouldShowFooter = category || dateTime;
---

<article
  class=`it-card it-card-image ${fullHeight && "it-card-height-full"} rounded shadow-sm border`
>
  <h3 class="it-card-title">
    <a href={linkTo}>{title}</a>
  </h3>
  {
    image && (
      <div class="it-card-image-wrapper">
        <div class="ratio ratio-16x9">
          <figure class="figure img-full">
            <Image {...image} />
          </figure>
        </div>
      </div>
    )
  }
  <div class="it-card-body">
    <p class="it-card-text">{description}</p>
  </div>
  {
    shouldShowFooter && (
      <footer class="it-card-related it-card-footer">
        {category && (
          <div class="it-card-taxonomy">
            <span class="visually-hidden">{ariaLabelCardCategory}</span>
            <p class="it-card-category">{category}</p>
          </div>
        )}
        {dateTime && <DateTime className="it-card-date" value={dateTime} />}
      </footer>
    )
  }
  {
    action && (
      <div class="it-card-footer" aria-label={ariaLabelCardAction}>
        <a
          href={linkTo !== "#" ? new URL(linkTo).origin : "#"}
          class="it-card-link"
          target="_blank"
        >
          {action}
        </a>
      </div>
    )
  }
</article>
