---
import { Link } from "@components/atoms/Link";
import ItFiles from "@static/assets/ItFiles.astro";
import type { CalloutLinkSectionProps } from "./types";

type Props = CalloutLinkSectionProps;
const { title, paragraph, label, url } = Astro.props;
---

<section class="it-section-bg-light">
  <div class="container">
    <div class="callout note">
      <div class="callout-inner">
        <div class="callout-title">
          <ItFiles />
          <span class="text">{title}</span>
        </div>
        <p class="col-lg-7 col-12">{paragraph}</p>
        <Link label={label} url={url} openInNewTab={true} />
      </div>
    </div>
  </div>
</section>
