---
import type { TitleMetaLinkTag } from "@datocms/astro";
import Layout from "../../../layouts/Layout.astro";
import { executeQuery } from "../../../lib/datocms";
import { PageBySlugQuery } from "../../../utils/query";
import type {
  SettingsChartRecord,
  SettingsKpiRecord,
  SiteLocale,
} from "../../../graphql/types";
import { isDraftModeEnabled } from "../../../lib/draftMode";
import DraftModeQueryListener from "../../../components/DraftModeQueryListener.astro";
import { Chart } from "../../../components/charts/Chart";
import Loader from "../../../components/Loader.astro";
import { Kpi } from "../../../components/charts/Kpi";

export const prerender = false;

const draftModeEnabled = isDraftModeEnabled(Astro.cookies);
if (!draftModeEnabled) {
  return Astro.redirect("/");
}

const { lang, slug } = Astro.params;

const response = await executeQuery(PageBySlugQuery, {
  variables: { slug: slug!, locale: lang as SiteLocale },
  includeDrafts: true,
});

const page = response.page;
const chart = page?.chart as SettingsChartRecord | undefined;
const kpi = page?.kpi as SettingsKpiRecord | undefined;
const redirectUrl =
  typeof lang === "string" && typeof slug === "string"
    ? `/${lang}/${slug}`
    : "/";
---

<Layout
  redirectUrl={redirectUrl}
  locale={lang!}
  pageSeo={page?.seo as TitleMetaLinkTag[]}
>
  <h1>{page?.title}</h1>
  {kpi && <Kpi data={kpi} />}
  {
    chart && (
      <Chart client:only="react" data={chart}>
        <div slot="fallback">
          <Loader />
        </div>
      </Chart>
    )
  }
</Layout>
<DraftModeQueryListener
  query={PageBySlugQuery}
  variables={{ slug: slug!, locale: lang as SiteLocale }}
/>
