---
import { ActionCard } from "@components/molecules/ActionCard";
import type { ActionCardProps } from "@components/molecules/ActionCard/types";
import { SectionContainer } from "@components/organisms/SectionContainer";
import { slugify } from "@utils/slugify";
type Props = ActionCardProps;

const { title, paragraph, category, cta, labelButtonMore, labelButtonLess } =
  Astro.props;
---

<SectionContainer
  className="it-section-bg-light"
  sectionTitleId={slugify(title)}
>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <ActionCard
        title={title}
        paragraph={paragraph}
        category={category || undefined}
        cta={cta}
        labelButtonMore={labelButtonMore}
        labelButtonLess={labelButtonLess}
      />
    </div>
  </div>
</SectionContainer>
