---
import { getI18n } from "@i18n/microcopy";
import ItArrowRight from "@static/assets/ItArrowRight.astro";
import ItDownload from "@static/assets/ItDownload.astro";
import ItExternalLink from "@static/assets/ItExternalLink.astro";
import type { LinkProps } from "./types";

type Props = LinkProps;

const {
  label,
  titleIcon,
  linkTo,
  url,
  download,
  disabled,
  openInNewTab = false,
  iconPosition = "right",
  isIcon = true,
  variant = "light",
} = Astro.props;

const finalHref = url || linkTo || download || "#";
const ariaDisabled = disabled ? "true" : "false";
const target = openInNewTab ? "_blank" : "_self";
const rel = openInNewTab ? "noopener noreferrer" : "";

const colorIcon = variant === "dark" ? "white" : "primary";

const lang = Astro.locals.lang || "it";
const t = getI18n(lang);
---

<a
  href={finalHref}
  aria-disabled={ariaDisabled}
  target={target}
  rel={rel}
  download={!!download}
  class={`d-inline-flex align-items-center gap-2 ${iconPosition === "left" ? "flex-row-reverse" : ""}`}
>
  <span class="fw-semibold">{label}</span>
  {
    isIcon && linkTo && (
      <ItArrowRight color={colorIcon} size="sm" title={titleIcon} />
    )
  }
  {
    isIcon && url && (
      <ItExternalLink color={colorIcon} size="sm" title={titleIcon} />
    )
  }
  {
    isIcon && download && (
      <ItDownload color={colorIcon} size="sm" title={titleIcon} />
    )
  }

  {url && <span class="visually-hidden">{t["link.external"]}</span>}

  {linkTo && <span class="visually-hidden">{t["link.internal"]}</span>}

  {download && <span class="visually-hidden">{t["link.download"]}</span>}
</a>
