---
import { SectionContainer } from "@components/organisms/SectionContainer";
import type { TopicFilterProps } from "./types";
import { CardEditorialNews } from "@components/molecules/CardEditorialNews";
import { Topics } from "@components/molecules/Topics";
import { Carousel, CarouselItem } from "@components/molecules/Carousel";
import { getI18n } from "@i18n/microcopy";

type Props = TopicFilterProps;

const { title, filterTitle, labelForAll, paragraph, contentCollection } =
  Astro.props;

const slugify = (text: string) =>
  text
    .toLowerCase()
    .trim()
    .replace(/\s+/g, "-")
    .replace(/[^\w-]+/g, "");

const { lang } = Astro.locals;
const t = getI18n(lang);
---

<SectionContainer className="it-section-bg-light">
  <div class=`row justify-content-between align-items-top`>
    <div class=`col-lg-5 col-12`>
      <div class=`text-container mb-4 mb-lg-0`>
        <h2 class="mb-3">
          {title}
        </h2>
        <p>{paragraph}</p>
      </div>
    </div>
    <div
      class=`col-lg-5 col-12`
      id="filter-container"
      data-label-for-all={labelForAll}
    >
      <Topics
        title={filterTitle}
        topics={[
          labelForAll,
          ...contentCollection.map((collection) => collection.topicSlug),
        ]}
        variant="column"
        disabled={false}
        variantChip="primary"
        ariaLabelTopic={t["filter.topic"]}
      />
    </div>
  </div>

  <div id="filterable-content">
    {
      contentCollection.map((collection) => (
        <div
          class="row pt-5 filter-section"
          data-topic={slugify(collection.topicSlug)}
        >
          <div class="col-lg-6 col-12">
            <div class="text-container mb-4 mb-lg-0">
              <h2 class="mb-3 h3">{collection.title}</h2>
              <p>{collection.paragraph || ""}</p>
            </div>
          </div>

          <div class="content-desktop d-none d-lg-block">
            <ul class="it-card-list row" aria-label={collection.title}>
              {collection.items.map((item) => (
                <li class="col-12 col-lg-4 mb-3">
                  <CardEditorialNews {...item} />
                </li>
              ))}
            </ul>
          </div>

          <Carousel className="content-mobile">
            {collection.items.map((item) => (
              <CarouselItem>
                <CardEditorialNews {...item} />
              </CarouselItem>
            ))}
          </Carousel>
        </div>
      ))
    }
  </div>
</SectionContainer>

<script>
  import { initFilters } from "@utils/filterTopics";
  initFilters();
  document.addEventListener("astro:page-load", initFilters);
</script>
