---
import { TextContainer } from "@components/molecules/TextContainer";
import { SectionContainer } from "@components/organisms/SectionContainer";
import type { TopicFilterProps } from "./types";
import { CardEditorialNews } from "@components/molecules/CardEditorialNews";
import { Topics } from "@components/molecules/Topics";

type Props = TopicFilterProps;

const { title, filterTitle, labelForAll, paragraph, contentCollection } =
  Astro.props;

const slugify = (text: string) =>
  text
    .toLowerCase()
    .trim()
    .replace(/\s+/g, "-")
    .replace(/[^\w-]+/g, "");
---

<SectionContainer className="lightgrey-bg-a3">
  <div class=`row justify-content-between align-items-top`>
    <div class=`col-lg-5 col-12`>
      <TextContainer title={title} paragraph={paragraph} />
    </div>
    <div
      class=`col-lg-5 col-12`
      id="filter-container"
      data-label-for-all={labelForAll}
    >
      <Topics
        title={filterTitle}
        topics={[
          labelForAll,
          ...contentCollection.map((collection) => collection.topicSlug),
        ]}
        variant="column"
        disabled={false}
        variantChip="primary"
      />
    </div>
  </div>

  <div id="filterable-content">
    {
      contentCollection.map((collection) => (
        <div
          class="row justify-content-between align-items-top py-5 filter-section"
          data-topic={slugify(collection.topicSlug)}
        >
          <div class="col-lg-6 col-12">
            <TextContainer
              title={collection.title}
              paragraph={collection.paragraph}
            />
          </div>

          <div class="it-card-group it-card-group-3-cols">
            {collection.items.map((item) => (
              <CardEditorialNews {...item} fullHeight={false} />
            ))}
          </div>
        </div>
      ))
    }
  </div>
</SectionContainer>

<script>
  import { initFilters } from "@utils/filterTopics";
  initFilters();
  document.addEventListener("astro:page-load", initFilters);
</script>
