---
import { SplitContent } from "@components/layout/SplitContent";
import TextContainer from "@components/molecules/TextContainer/TextContainer.astro";
import type { UseCaseCardProps } from "@components/molecules/UseCaseCard/types";
import { UseCases } from "@components/molecules/UseCases";

type Props = {
  title: string;
  paragraph: string;
  labelButton: string;
  labelUseCases: string;
  useCases: UseCaseCardProps[];
};
const { title, paragraph, labelButton, labelUseCases, useCases } = Astro.props;
---

<style>
  @import "./style.scss";
</style>

<SplitContent leftColumns={5} alignItems="top">
  <TextContainer
    slot="left"
    title={title}
    paragraph={paragraph}
    labelButton={labelButton}
  />
  <div slot="right">
    <UseCases label={labelUseCases} items={useCases} />
  </div>
</SplitContent>
