---
import ItExpand from "@static/assets/ItExpand.astro";
import SidebarItemSecondLevel from "./SidebarItemSecondLevel.astro";
import type { SidebarItemFirstLevelProps } from "./types";

type Props = SidebarItemFirstLevelProps;

const { idAccordion, label, items, isOpen } = Astro.props;
---

<li>
  <a
    class=`list-item large medium right-icon  ${isOpen && "show"}`
    href={`#collapse_${idAccordion}`}
    role="button"
    data-bs-toggle="collapse"
    aria-expanded={isOpen}
    aria-controls={`collapse_${idAccordion}`}
  >
    <span class="list-item-title-icon-wrapper text-uppercase">
      <span>{label}</span>
      <ItExpand size="xs" color="primary" class="right" />
    </span>
  </a>
  <ul
    class=`link-sublist collapse ${isOpen && "show"}`
    id={`collapse_${idAccordion}`}
  >
    {items.map((item) => <SidebarItemSecondLevel {...item} />)}
  </ul>
</li>
