---
import ItChevronLeft from "@static/assets/ItChevronLeft.astro";
import ItChevronRight from "@static/assets/ItChevronRight.astro";
import SidebarItemFirstLevel from "./SidebarItemFirstLevel.astro";
import type { SidebarProps } from "./types";

type Props = SidebarProps;

const { id, header, openLabel, closeLabel, ariaLabel, items } = Astro.props;
---

<nav
  class="navbar it-navscroll-wrapper navbar-expand-lg it-bottom-navscroll it-right-side border-end-0"
  data-bs-navscroll
>
  <button
    class="custom-navbar-toggler"
    type="button"
    aria-controls={id}
    aria-label={ariaLabel}
    data-bs-toggle="navbarcollapsible"
    data-bs-target="#navbarNav"
  >
    <span class="it-list"></span>
    <ItChevronRight size="sm" color="primary" class="align-middle" />{openLabel}
  </button>
  <div class="navbar-collapsable" id="navbarNav" tabindex="-1">
    <div class="close-div visually-hidden">
      <button class="btn close-menu" type="button">
        <span class="it-close"></span>{closeLabel}
      </button>
    </div>
    <div class="inline-menu menu-wrapper py-lg-0" tabindex="-1">
      <button type="button" class="it-back-button btn w-100 text-start">
        <ItChevronLeft size="sm" color="primary" class="align-top" />
        <span>{closeLabel}</span>
      </button>
      <div class="link-list-wrapper py-0 py-lg-80">
        <h4 class="text-uppercase px-4">{header}</h4>
        <ul class="link-list">
          {items.map((item) => <SidebarItemFirstLevel {...item} />)}
        </ul>
      </div>
    </div>
  </div>
</nav>
