---
import SidebarItemSecondLevel from "./SidebarItemSecondLevel.astro";
import type { SidebarItemFirstLevelProps } from "./types";

type Props = SidebarItemFirstLevelProps;

const { idAccordion, label, items, isOpen } = Astro.props;
---

<li>
  <a
    class=`list-item large medium right-icon  ${isOpen && "show"}`
    href={`#collapse_${idAccordion}`}
    role="button"
    data-bs-toggle="collapse"
    aria-expanded={isOpen}
    aria-controls={`collapse_${idAccordion}`}
  >
    <span class="list-item-title-icon-wrapper">
      <span>{label}</span>
      <svg class="icon icon-xs icon-primary right"
        ><use href="/bsi-svg/sprites.svg#it-expand"></use></svg
      >
    </span>
  </a>
  <ul
    class=`link-sublist collapse ${isOpen && "show"}`
    id={`collapse_${idAccordion}`}
  >
    {items.map((item) => <SidebarItemSecondLevel {...item} />)}
  </ul>
</li>
