---
import { NumberContainer } from "@components/atoms/NumberContainer";
import type { ListItemProps, VariantListProps } from "./types";

type Props = ListItemProps & {
  index: string;
  variant: VariantListProps;
};
const { title, paragraph, index, variant } = Astro.props;

const titleClass = variant === "small" ? "fs-4 m-0 fw-semibold" : "fs-3 h3";
const textClass = variant === "small" ? "text-secondary" : "";

const align = variant === "small" ? "center" : "top";
---

<style>
  @import "./style.scss";
</style>

<li class="mb-4">
  <div class=`item-row align-items-${align}`>
    <div class="it-rounded-icon">
      <NumberContainer content={index.toString()} />
    </div>
    <div class="item-text">
      <div class=`${titleClass} text-dark`>{title}</div>
      <div class=`${textClass} m-0` set:html={paragraph} />
    </div>
  </div>
</li>
