---
import PreviewBar from "@components/PreviewBar.astro";
import FooterAdapter from "@components/cms-adapters/datocms/FooterAdapter.astro";
import HeaderAdapter from "@components/cms-adapters/datocms/HeaderAdapter.astro";
import { LastUpdate } from "@components/molecules/LastUpdate";
import { Seo, type TitleMetaLinkTag } from "@datocms/astro";
import type {
  FooterFragmentType,
  HeaderFragmentType,
} from "@graphql/fragment/layout";
import { getGlobalSettings, getLayout } from "@lib/dataFetcher";
import { isDraftModeEnabled } from "@lib/draftMode";
import { type JsonLdPageData } from "@utils/JsonLD/seoJsonLd";
import { getCollection } from "astro:content";
import bsi from "bootstrap-italia/dist/js/bootstrap-italia.bundle.min.js?url";
import "../styles/global.scss";
import JsonLDScripts from "./JsonLDScripts.astro";
import SeoHreflang from "./SeoHreflang.astro";
import WAI from "./WAI.astro";

type Props = {
  pageSeo?: TitleMetaLinkTag[];
  redirectUrl?: string;
  datePublished?: string;
  jsonLd?: JsonLdPageData;
};

const isPreview = isDraftModeEnabled(Astro.cookies);
const { pageSeo = [], redirectUrl, datePublished, jsonLd } = Astro.props;

const { lang } = Astro.locals;

const result = await getCollection("site_meta");

const siteMetaTag = result[0].data;

const layoutEntry = await getLayout(isPreview);

const layout = layoutEntry?.data?.layout;
const { homepageId, search } = layoutEntry?.data || {};

const globalSetting = await getGlobalSettings(lang);

if (!layout) return;

const headerLayout: HeaderFragmentType = {
  _allTaglineLocales: layout._allTaglineLocales,
  _allOrganizationLocales: layout._allOrganizationLocales,
  siteName: layout.siteName,
  allMainNavigation: layout.allMainNavigation,
  allSecondaryNavigation: layout.allSecondaryNavigation,
  locales: layout.locales,
  logoSelect: layout.logoSelect,
};

const footerLayout: FooterFragmentType = {
  _allHeadingLocales: layout._allHeadingLocales,
  _allOrganizationsLocales: layout._allOrganizationsLocales,
  _allTopicTitleLocales: layout._allTopicTitleLocales,
  _allTopicLinkLocales: layout._allTopicLinkLocales,
  _allUtilityTitleLocales: layout._allUtilityTitleLocales,
  _allUtilityLocales: layout._allUtilityLocales,
  _allSmallPrintLocales: layout._allSmallPrintLocales,
};

const isShowingPreviewBar = isPreview && redirectUrl;
const isProd = import.meta.env.PROD;
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <Seo data={[...siteMetaTag.faviconMetaTags, ...pageSeo]} />
    <JsonLDScripts jsonLd={jsonLd} />
    {isProd && <WAI />}
    <SeoHreflang locales={layout.locales} />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {isShowingPreviewBar && <PreviewBar redirectUrl={redirectUrl} />}
    <HeaderAdapter
      {...headerLayout}
      homeRecordId={homepageId}
      search={search || undefined}
    />
    <main>
      <slot />
    </main>
    {
      datePublished && globalSetting && (
        <LastUpdate
          label={globalSetting.lastUpdateLabel}
          date={datePublished}
        />
      )
    }
    <FooterAdapter {...footerLayout} />
  </body>
</html>
<script src={bsi}></script>
