---
import Loader from "@components/Loader.astro";
import PreviewBar from "@components/PreviewBar.astro";
import type { LinkProps } from "@components/atoms/Link/types";
import FooterAdapter from "@components/cms-adapters/datocms/FooterAdapter.astro";
import HeaderAdapter from "@components/cms-adapters/datocms/HeaderAdapter.astro";
import { LastUpdate } from "@components/molecules/LastUpdate";
import Feedback from "@components/react/Feedback/Feedback";
import { Seo, type TitleMetaLinkTag } from "@datocms/astro";
import type {
  FooterFragmentType,
  HeaderFragmentType,
} from "@graphql/fragment/layout";
import { getGlobalSettings, getLayout } from "@lib/dataFetcher";
import { isDraftModeEnabled } from "@lib/draftMode";
import { type JsonLdPageData } from "@utils/JsonLD/seoJsonLd";
import { getCollection } from "astro:content";
import bsi from "bootstrap-italia/dist/js/bootstrap-italia.bundle.min.js?url";
import "../styles/global.scss";
import JsonLDScripts from "./JsonLDScripts.astro";
import SeoHreflang from "./SeoHreflang.astro";
import WAI from "./WAI.astro";

type Props = {
  pageSeo?: TitleMetaLinkTag[];
  redirectUrl?: string;
  datePublished?: string;
  jsonLd?: JsonLdPageData;
};

const isPreview = isDraftModeEnabled(Astro.cookies);
const { pageSeo = [], redirectUrl, datePublished, jsonLd } = Astro.props;

const { lang } = Astro.locals;

const result = await getCollection("site_meta");

const siteMetaTag = result[0].data;

const layoutEntry = await getLayout(isPreview);

const layout = layoutEntry?.data?.layout;
const { homepageId, search } = layoutEntry?.data || {};

const globalSetting = await getGlobalSettings(lang);

if (!layout) return;

const headerLayout: HeaderFragmentType = {
  _allTaglineLocales: layout._allTaglineLocales,
  _allListNavbarBrandLocales: layout._allListNavbarBrandLocales,
  siteName: layout.siteName,
  allMainNavigation: layout.allMainNavigation,
  allSecondaryNavigation: layout.allSecondaryNavigation,
  allMetaNavigation: layout.allMetaNavigation,
  locales: layout.locales,
  logoSelect: layout.logoSelect,
  variant: layout.variant,
};

const footerLayout: FooterFragmentType = {
  _allHeadingLocales: layout._allHeadingLocales,
  _allOrganizationsLocales: layout._allOrganizationsLocales,
  _allTopicTitleLocales: layout._allTopicTitleLocales,
  _allTopicLinkLocales: layout._allTopicLinkLocales,
  _allUtilityTitleLocales: layout._allUtilityTitleLocales,
  _allUtilityLocales: layout._allUtilityLocales,
  _allSmallPrintLocales: layout._allSmallPrintLocales,
  _allMailingListFormLocales: layout._allMailingListFormLocales,
  showSitemapLink: layout.showSitemapLink,
};

const linksPrefooter: LinkProps[] =
  globalSetting?.links?.map((link) => {
    return { url: link.url, label: link.label };
  }) || [];

const isShowingPreviewBar = isPreview && redirectUrl;
const isProd = import.meta.env.PROD;
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="preload"
      href="/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-600.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Lora/lora-v20-latin-ext_latin-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link rel="preconnect" href="https://www.datocms-assets.com" crossorigin />

    <Seo data={[...siteMetaTag.faviconMetaTags, ...pageSeo]} />

    <JsonLDScripts jsonLd={jsonLd} />
    {isProd && <WAI />}
    <SeoHreflang locales={layout.locales} />
  </head>
  <body>
    {isShowingPreviewBar && <PreviewBar redirectUrl={redirectUrl} />}
    <HeaderAdapter
      {...headerLayout}
      homeRecordId={homepageId}
      search={search || undefined}
    />
    <main id="main">
      <slot />
    </main>
    {
      datePublished && globalSetting && (
        <LastUpdate
          label={globalSetting.lastUpdateLabel}
          date={datePublished}
          links={linksPrefooter}
        />
      )
    }
    <Feedback client:visible lang={lang}>
      <div slot="fallback">
        <Loader />
      </div>
    </Feedback>
    <FooterAdapter {...footerLayout} />
  </body>
</html>
<script src={bsi} defer is:inline></script>
